div.img-circle {
	background: url("http://switchfoot.com/wp-content/uploads/2015/12/HH.jpg") no-repeat;
	width:350px;
	height:350px;
}
li {
	font-style: italic;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover { 
    text-decoration: underline;
	background-color: #c9bda9
}
a:active {
	text-decoration: none;
}
tbody {
	background-color: #c9bda9 ;
	font-style: italic;
}
table {
	border-collapse: collapse;
	border: 1px solid black;
	}
table th {
	text-align: center;
}
table caption{
	text-align: center;
}