header h1 {
	font-family:'Arial';
	text-align: center;
	border-bottom-style: solid;
}
header table {
	width: 25%;
}
header {
	border-bottom-style: solid;
}
footer {
	border-top-style: solid;
}
footer p {
	text-align: center;
}
form {
	font-weight:bold;
}
a:hover {
	font-weight:bold;
}
a:visited {
	color:red;
}
a:active {
	text-decoration:none;
}
h3 {
	font-weight:bold;
}