div.img {
	background: url("http://switchfoot.com/wp-content/uploads/2015/12/HH.jpg") no-repeat;
	width:400px;
	height:400px;
}
li {
	font-style: italic;
}
a:link {
	text-decoration: none;
	}
a:visited {
	text-decoration: none;
	}
a:hover { 
    text-decoration: underline;
	background-color: #c9bda9;
}
a:active {
	text-decoration: none;
	}
tbody {
	background-color: #c9bda9 ;
	font-style: italic;
}