header h1 {
	text-align: center;
	border-bottom-style: solid;
}
header table {
	width: 25%;
}
header {
	border-bottom-style: solid;
}
footer {
	border-top-style: solid;
}
footer p {
	text-align: center;
}
form {
	font-weight:bold;
}